From/WindowsFormsApp1/WindowsFormsApp1/obj/
From/WindowsFormsApp1/ConsoleApp1/bin/Debug/ConsoleApp1.exe.config
From/WindowsFormsApp1/ConsoleApp1/bin/
From/WindowsFormsApp1/ConsoleApp1/obj/
From/WindowsFormsApp1/packages/
twoChapter/twoChapter/twoChapter/bin/
twoChapter/twoChapter/twoChapter/obj/
From/WindowsFormsApp1/WindowsFormsApp1/bin/
Web/pojcet_web/yarn.lock
